set timeout=10

search --no-floppy --set=root -l 'HOSTISO'

menuentry 'Red Hat OS install with BMI host iso provider image' --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=HOSTISO text inst.ks=hd:LABEL=HOSTISO:/KS.CFG
	initrdefi /images/pxeboot/initrd.img
}
