### ESXi Installation Script

### Accept the VMware End User License Agreement
vmaccepteula

### Set the root password for the DCUI and Tech Support Mode
rootpw Vmware01!

### clearing of partitions on every drive
clearpart --alldrives --overwritevmfs

### The install media (priority: local / remote / USB)
<INSTALL_DISK>

### The network line is set in the ISO build to the proper static network information
<NETWORK>

### Reboot ESXi Host
reboot

### Post install
%post --interpreter=python --ignorefailure=true
import time
stampFile = open('/finished.stamp', mode='w')
stampFile.write( time.asctime() )

###
### First boot configs
###
%firstboot --interpreter=busybox
### Enable sshd service
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# DNS Settings.
esxcli network ip dns search add --domain=<DOMAIN>
esxcli system hostname set --fqdn=<SERVERNAME>
esxcli network ip dns server add --server=<DNS1>
esxcli network ip dns server add --server=<DNS2>

### Allow NTP through firewall
esxcli network firewall ruleset set --ruleset-id  ntpClient --enabled yes

### NTP CONFIGURATIONS ###
echo "server <DNS1>" >> /scratch/ntp.txt
echo "server <DNS2>" >> /scratch/ntp.txt

##ESXi 7.0.3 and higher use esxcli system ntp set
esxcli system ntp set -f /scratch/ntp.txt
if [[ $? != 0 ]];then
  cat /scratch/ntp.txt >> /etc/ntp.conf
else  
  esxcli system ntp set -e 1
fi

/sbin/chkconfig ntpd on
/etc/init.d/ntpd start
/etc/init.d/hostd restart


# Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

### Reboot
esxcli system shutdown reboot -d 15 -r "rebooting after ESXi host configuration"